.page-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #cfb9a0;
    text-align: center;
}

.page-wrapper > .header-wrapper h1 {
    font-size: 75px;
}

.page-wrapper > .info-wrapper {
    font-size: 20px;
}