.page-wrapper {
    background-image: url(/Images/Background2.jpg);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.page-wrapper > .header-wrapper {
    background-color: black;
    text-align: center;
}

.page-wrapper > .header-wrapper h1 {
    font-size: 75px;
    margin-top: 100px;
}

.page-wrapper > .info-wrapper {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 20px;
}

.page-wrapper > .info-wrapper p {
    margin: 10px;
    text-align: right;
}

.page-wrapper > .left-column-wrapper {
    margin-left: 20px;
}

.page-wrapper > .left-column-wrapper p.where {
    margin-bottom: 100px;
}

.page-wrapper > .info-wrapper > .right-column-wrapper p {
    text-align: left;
}

.page-wrapper > .info-wrapper a {
    color: rgb(228, 162, 19);
}

.page-wrapper > .info-wrapper a:hover {
    color: rgb(141, 106, 11);
}

.page-wrapper > .info-wrapper a:visited {
    color: rgb(141, 106, 11);
}

.page-wrapper > .button-wrapper {
    display: flex;
    justify-content: center;
}

.page-wrapper > .button-wrapper button {
    background-color: azure;
    border: #cfb9a0;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
}

.page-wrapper > .button-wrapper button:hover {
    background-color: rgb(200, 216, 216);
}