.page-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #cfb9a0;
    text-align: center;
}

.page-wrapper > .header-wrapper {
    background-image: url(/Images/Background.jpg);
    height: 460px;
    text-align: center;
}

.page-wrapper > .header-wrapper h1 {
    font-size: 100px;
    margin-top: 100px;
    margin-top: 250px;
    color: black;
}

.page-wrapper > .content-wrapper {
    font-size: 20px;
}